body {
  background-color: dodgerblue;
  font-family: sans-serif;
}
p {
  color: black;
}
h1, h2, h3, h4, h5, h6 {
  color: black;
  text-align: center;
}
a {
  color: red;
}
.card-container {
  padding: 2px 16px;
}
.card-blue {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: blue;
  color: white;
}
.card-red {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: red;
  color: white;
}
.card-lime {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: lime;
  color: black;
}
.card-blue:hover, .card-red:hover, .card-lime:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
